---
// src/components/Section.astro
const { title } = Astro.props;
---

<section class="panel">
  <div class="section-container">
    {title && <h1 class="section-title">{title}</h1>}

    <div class="section-grid-3-col">
      <div class="grid-col">
        <slot name="left" />
      </div>
      <!-- MODIFICATION : Retirer le div grid-col-center wrapper -->
      <slot />
      <div class="grid-col">
        <slot name="right" />
      </div>
    </div>
  </div>
</section>
